.container-box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent  ;
  width: 100%;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  background-color: aqua;
  width: 100%;
}

.container-tech {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #000;
}

.container-tech h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-tech p {
  font-size: 22px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-align: justify;
}