* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#000, #122b46);
}

/* body::-webkit-scrollbar {
  display: none;
} */

.app {
  display: flex;
  height: 100vh;
}




