* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#000, #122b46);
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}


header, .about, .projects, footer {
  position: relative;
  z-index: 2;
}
