.container-box3 {
  background-color: #f9f9f9;
  text-align: center;
  padding: 40px 0px;
  width: 100%;
  height: 100%;
}

/* ---  HEADER PROJECTS  --------------------------------------------- * */

.container-projects-header h1 {
  text-shadow: 0px 0px 15px #57575757;
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

/* ---  CARDS PROJECTS  --------------------------------------------- * */

.container-projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: auto;
  width: 80%;
}

.project-card {
  position: relative;
  width: 450px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.329);
  overflow: hidden;
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-shadow: #ffffff7e 0px 0px 10px;
  transition: 0.3s;
}

.card-img-1 {
  background-image: url('../../../img/PilotTrack.jpg');
}

.card-img-2 {
  background-image: url('../../../img/BarberShop.avif');
}

.card-img-3 {
  background-image: url('../../../img/Hamburgueria.png');
}

.card-img-4{
  background-image: url('../../../img/LHMadeira.jpg');
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.767);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  gap: 30px;
}

.card-back h2 {
  font-size: 30px;
  font-weight: bold;
}

.card-back p {
  font-size: 18px;
}

.project-card:hover .card-back {
  transform: translateY(0);
}

.project-card:hover .card-front{
  color: #ffffff0e;
  transition: 0.8s;
}

.project-container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-link {
  padding: 50px;
  text-decoration: none;
  font-size: 15px;
  color: #FFF;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #ffffff36;
  cursor: pointer;
}


  /* ---  MEDIA QUERY --------------------------------------------- * */

@media (max-width: 768px) {

  .container-box3 {
    padding: 20px 0px;
  }

  .container-projects-header h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  .container-projects-list {
    gap: 20px;
    width: 90%;
  }
  
  .project-card {
    width: 350px;
    height: 250px;
  }
  
  .card-front {
    font-size: 18px;
  }
  
  .card-back {
    gap: 10px;
  }
  
  .card-back h2 {
    font-size: 25px;
  }
  
  .card-back p {
    font-size: 15px;
  }
  
  .project-link {
    font-size: 14px;
  }

}