.container-about {
  display: flex;
  margin: 25% 25% 0 25%; /*pode ser usados 400px*/
  margin-bottom: 150px;
}

/* -------------------------------------------- */

.container-sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
}

.container-sobre h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container-sobre p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}


/* -------------------------------------------- */


.container-cv {
  display: flex;
  flex-direction: column;
  background-color: #ffffff28;
  border-radius: 25px;
  padding: 20px 20px;
  width: 70%;
  margin-left: 35px;
}

.container-cv h1 {
  font-size: 25px;
  margin-bottom: 8px;
  color: #FFF;
}

.container-cv p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ffffffbb;
}

.btn-cv {
  border-radius: 25px;
  padding: 14px;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.btn-cv:hover {
  animation: shrinkAndGrow 0.4s ease forwards; 
}

@keyframes shrinkAndGrow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.05);
  }
}