.container-header {
  padding-top: 10px;
}

.content-ul {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
}

.content-ul a {
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  border-radius: 12px;
  cursor: pointer;
}

.content-ul a:hover {
  background-color: rgba(136, 136, 136, 0.199);
  transition: 0.5s;
}


/* --------------------------------------------------------------- */


@media (max-width: 768px) {
  .content-ul {
    align-items: center;
    gap: 20px;
  }

  .content-ul a {
    font-size: 18px; 
    padding: 12px 20px;
    width: 80%; 
    text-align: center;
  }
}
